/* reset sass code */

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;

    background-color: #111;
    color: #aaaaaa;
}

a {
    color: #aaaaaa;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* main sass code */

.pillbox {
    padding: 0.4rem 0.8rem;
    border: 0.1rem solid;
    background-color: #111;
    border-radius: 0.6rem;
}

.icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: all 0.3s ease-in-out;
}

.circle-button {
    position: absolute;
    z-index: 100;
    top: calc(50% - 2.5rem);
    color: #aaaaaa;
    background-color: #111;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    cursor: pointer;
    
    &--left {
        left: 0;
        display: none;
    }

    &--right {
        right: 0;
        display: block;
    }
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}


.link {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    gap: 0.4rem;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: #777;
    }

    &--active {
        color: #eee;
        font-weight: bold;
        cursor: default;
    }
}

.link-to-imdb {
    margin: 3rem 0;
    border: 0.1rem solid #aaa;
    width: fit-content;
    padding: 1rem 2rem;

    &:hover {
        border-color: #eee;
        color: #eee;
    }
}

.button {
    padding: 0.8rem 1.6rem;
    border: 0.1rem solid;
    background-color: #aaa;
    color: #111;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: #eee;
    }
}

.header {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    @media screen and (max-width: 768px) {
        padding: 1rem;
    }

    &__top {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    &__link {
        &__text {
            font-size: 3.6rem;

            @media screen and (max-width: 768px) {
                font-size: 1.8rem;
            }
        }
    }
}

.nav {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem;

    @media screen and (max-width: 768px) {
        a {
            font-size: 1.4rem;
        }
        justify-content: space-around;
        gap: 1rem;
    }
}

.language-switcher {
    display: flex;
    gap: 0.8rem;

    &__button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;

        &:disabled {
            cursor: default;
            border: 0.1rem solid #aaaaaa;
        }

        &__image {
            position: relative;
            height: 2.2rem;
            width: 2.4rem;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 3rem;

    &__main {
        display: flex;
        justify-content: center;
        gap: 3rem;

        &__copy {
            font-size: 1.4rem;
        }

        &__links {
            font-size: 1.4rem;
        }

        &__powered-by {
            font-size: 1.4rem;

            a {
                text-decoration: underline;
            }
        }
    }
}

.movies {
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4rem;
        padding: 2rem;

        &__item {
            position: relative;
            width: 30rem;
            height: 50rem;

            &:hover {
                .movies__list__item__title {
                    color: #777;
                }
                .movies__list__item__image {
                    opacity: 0.7;
                    transform: scale(1.02);
                    transition: all 0.3s ease-in-out;
                }
            }
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            &__title {
                font-size: 1.8rem;
                margin-bottom: 0.4rem;
            }

            &__image {
                display: block;
                position: relative;
                width: 30rem;
                height: 50rem;

                img {
                    border-radius: 0.4rem;
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
        }

        &__pagination {
            padding: 1rem 0;
            margin-top: 3rem;
            margin-bottom: 3rem;

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10rem;
        }
    }
}

.primary {
    display: flex;
    gap: 3rem;
    margin-bottom: 1rem;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.secondary {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.movie {
    min-height: 100%;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    //&__header {}

    &__main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
        margin: 3rem;

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }

    //&__footer {}
}

.movie-poster {
    display: flex;
    justify-content: center;

    &__wrapper {
        display: block;
        position: relative;

        img {
            border-radius: 0.4rem;
            object-fit: contain;
        }
    }

    @media screen and (max-width: 640px) {
        padding: 0 2rem;

        &__wrapper {
            width: 40rem;
            height: 40rem;
        }
    }

    @media screen and (min-width: 641px) and (max-width: 768px) {
        padding: 0 2rem;

        &__wrapper {
            width: 100%;
            height: 50rem;
        }
    }

    @media screen and (min-width: 769px) {
        &__wrapper {
            width: 40rem;
            height: 50rem;
        }
    }
}

.movie-info {
    max-width: 100%;
    flex-grow: 1;

    &__title {
        font-size: 2.6rem;
        //margin-bottom: 1rem;
    }

    &__tagline {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    &__overview {
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }

    &__release-date {
        font-size: 1.4rem;
        margin-bottom: 2rem;
    }

    &__link {
        font-size: 1.4rem;
        margin-bottom: 2rem;
        text-decoration: underline;
    }

    &__status {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    &__genres {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.4rem;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    &__watch-now {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;

        &__options {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 5rem;

            &__option {
                margin-top: 1rem;

                &__providers {
                    margin-top: 1rem;
                    display: flex;
                    gap: 1rem;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        margin: 0 2rem;

        &__title {
            font-size: 2rem;
        }

        &__tagline {
            font-size: 1.6rem;
        }

        &__overview {
            font-size: 1.4rem;
        }

        &__link {
            font-size: 1.2rem;
        }
    }
}

.movie-production-countries {
    margin: 0 2rem;

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;

        &__item {
            text-align: center;
            font-size: 1.2rem;
        }
    }
}

.movie-production-companies {
    margin: 2rem;
    background-color: #ddd;
    max-width: 100%;
    overflow: hidden;

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 1rem;

        &__item {
            width: 8rem;
            height: 10rem;
            text-align: center;
            color: #111111;
            font-size: 1.4rem;

            &__logo {
                width: 100%;
                height: 100%;
                position: relative;

                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 0.4rem;
                    object-fit: contain;
                }

                &__company-name {
                    font-size: 1rem;
                }
            }
        }
    }
}

.movie-images {
    margin: 2rem;
    max-width: 100%;
    position: relative;
    overflow: hidden;

    &__nav-button {
        position: absolute;
        z-index: 100;
        top: calc(50% - 2.5rem);
        color: #aaaaaa;
        background-color: #111;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        cursor: pointer;
        //transition: all 0.3s ease-in-out;

        &--left {
            left: 0;
            display: none;
        }

        &--right {
            right: 0;
            display: block;
        }
    }

    &__list {
        display: flex;
        gap: 1rem;
        overflow-x: scroll;
        scroll-behavior: smooth;

        &__item {
            min-width: 30rem;
            min-height: 15rem;
            position: relative;

            @media screen and (max-width: 768px) {
                min-width: 25rem;
            }

            img {
                object-fit: contain;
                width: 100%;
                height: 100%;
                border-radius: 0.4rem;
            }
        }
    }
}

.movie-videos {
    margin: 2rem;

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 5rem;

        &__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__frame {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }
}

.movie-credits {
    &__cast,
    &__crew {
        position: relative;
        margin: 2rem;
    }

    &__list {
        display: flex;
        overflow-x: scroll;

        gap: 3rem;

        &__item {
            &__profile-pic-no-image {
                font-size: 3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 0.1rem solid #aaa;
                width: 10rem;
                height: 12rem;
                border-radius: 0.6rem;
                background-color: #333;
            }
            &__profile-pic-wrapper {
                width: 10rem;
                height: 12rem;
                position: relative;

                img {
                    object-fit: cover;
                    object-position: top;
                    border-radius: 0.6rem;
                }
            }

            &__name {
                font-size: 1.6rem;
                margin-top: 1rem;
            }
            &__character {
                font-size: 1.2rem;
            }
            &__job {
                font-size: 1.2rem;
            }
        }
    }
}

.movie-details__images {
    //margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;

    &__selected-outer {
        position: relative;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__nav-button {
        position: absolute;
        //z-index: 100;
        top: calc(50% - 2.5rem);
        color: #aaaaaa;
        background-color: #111;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        cursor: pointer;
        //transition: all 0.3s ease-in-out;

        &--left {
            left: 0;
        }

        &--right {
            right: 0;
        }
    }

    &__selected {
        position: relative;
        width: 90vw;
        height: 65vh;

        margin-bottom: 1rem;

        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

    &__list {
        display: flex;
        gap: 1rem;
        overflow-x: scroll;
        scroll-behavior: smooth;
        padding-bottom: 2rem;

        &__item {
            position: relative;
            min-width: 10rem;
            min-height: 6rem;

            img {
                object-fit: contain;
            }
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    display: flex;
    justify-content: center;

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content {
        position: relative;
        width: 95%;
        height: 95%;
        background-color: #111111;
        border-radius: 0.4rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 768px) {
            width: 95%;
        }

        &__header {
            position: relative;
            width: 100%;
            height: fit-content;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 1rem;

            &__button-close {
                color: #aaaaaa;
            }
        }

        &__main {
            width: 100%;
            overflow: scroll;
            flex-grow: 1;
        }
    }
}

.recommendations,
.similar,
.search-results {
    margin: 3rem;

    &__header {
        &__reference {
            margin-bottom: 3rem;

            &__movie-title {
                margin-bottom: 1rem;
            }

            &__poster {
                position: relative;
                width: 20rem;
                height: 30rem;

                img {
                    object-fit: cover;
                }
            }
        }
    }

    &__list {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 2rem;
        margin: 3rem;

        &__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 30rem;
            margin-bottom: 3rem;

            gap: 1rem;

            .movie-poster {
                &__wrapper {
                    width: 20rem;
                    height: 30rem;
                }

                &__placeholder {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 20rem;
                    height: 30rem;

                    background-color: #333;
                    color: #eee;
                    font-size: 2.2rem;
                    text-align: center;

                    padding: 1rem;
                }
            }

            .movie-info {
                &__title {
                    font-size: 1.6rem;
                    text-align: center;
                }
            }
        }
    }
}

.movie-recommendations,
.movie-similar {
    &__header {
        display: flex;
        justify-content: space-between;
    }
}

.movie-list-horizontal-container {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    transition: all .3s ease-in-out;
}

.movie-list-horizontal {
    display: flex;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 1rem;

    gap: 3rem;

    &__item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        border-radius: 0.6rem;
        background-color: #333;
        color: #eee;
        width: 16rem;
        height: 24rem;

        &__image {
            position: relative;
            width: 16rem;
            max-width: 16rem;
            min-height: 24rem;

            &__placeholder {
                width: 16rem;
                max-width: 16rem;
                min-height: 24rem;
                object-fit: cover;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2rem;

                text-align: center;

                padding: 1rem;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 0.6rem;
            }
        }

        &__info {
            visibility: collapse;
            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: column;
            gap: 1rem;

            padding: 1rem 2rem;

            &__title {
                font-size: 1.6rem;
                text-align: start;
            }

            &__overview {
                display: none;
                text-align: start;
            }
        }

        &:hover {
            width: 34rem;
            min-width: 34rem;
            min-height: 24rem;
            outline: 0.1rem solid #aaa;

            transform: scale(1.05);
        }

        &:hover &__image {
            min-width: 16rem;

            img {
                width: 16rem;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        &:hover &__info {
            visibility: visible;
        }
    }
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 3rem;

    &__form {
        &__group {
            display: flex;
            align-items: center;
            border-radius: 0.6rem;

            &__input {
                flex-grow: 1;
                font-size: 2.1rem;
                padding: 1rem;
                background-color: #eee;
                outline: none;
                border: none;
                color: #333;
                border-radius: 0.6rem;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                cursor: text;
                transition: all 0.3s ease-in-out;

                height: 5rem;

                &:hover {
                    border-color: #eee;
                }
            }

            &__icon {
                color: #aaa;
                cursor: pointer;
                padding: 1rem;
                height: 5rem;
                width: 5rem;
                border: 0.1rem solid#eee;
                border-radius: 0.6rem;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    color: #eee;
                    width: 22rem;
                    height: 22rem;
                }

                &:disabled {
                    color: #aaa;
                    cursor: default;

                    svg {
                        color: #aaa;
                        width: 22rem;
                        height: 22rem;
                    }
                }
            }
        }

        &__group:focus-within {
            outline: 0.2rem solid orangered;
        }
    }
}

.button-search {
    padding: 0.8rem 1.6rem;
    color: #aaa;
    //border: 0.1rem solid #aaa;
    //border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: #eee;
        border-color: #eee;
    }
}

.search-results {
    margin: 3rem;

    &__pagination {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 3rem;

        &__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

.genres {
    margin: 3rem 0;
    display: flex;
    justify-content: center;

    &__navigation-button {
        width: 3rem;
    }

    &__icon {
        padding-bottom: 1rem;

        svg {
            color: #aaa;
            height: 3rem;
            width: 3rem;
        }

        &--left {
            display: none;
        }

        &--right {
            display: block;
        }
    }

    &__list {
        &__form-wrapper {
            max-width: calc(100% - 6rem);
        }

        display: flex;
        gap: 1rem;
        padding-bottom: 1rem;
        overflow-x: hidden;

        &__item {
            min-width: fit-content;
            height: fit-content;
            cursor: pointer;
        }
    }
}

.search-by-genre {
    margin: 3rem;

    &__title {
        font-size: 1.6rem;
    }
}
